* {
   box-sizing: border-box;
}

body {
   font-family: "Play", sans-serif;
   color: #fff;
   font-weight: 400;
   font-style: normal;
   line-height: normal;
   font-size: 23px;
   margin: 0;
   padding: 0;
}

body.lock {
   overflow: hidden;
   height: 100vh;
}

li {
   list-style-type: none;
}

a {
   text-decoration: none;
}

.burger {
   display: none;
   flex-wrap: wrap;
   gap: 2px;
   width: 25px;
   height: 20px;
   cursor: pointer;
   transition: all 0.3s;
}

.burger span {
   display: block;
   width: 100%;
   height: 2px;
   background-color: #edd8c3;
   border-radius: 50px;
   transition: all 0.3s;
   position: relative;
}

.burger:hover span {
   background-color: #fff;
}

.burger.active span:first-child {
   transform: rotate(45deg);
   transition: 0.3s;
   top: 7px;
}

.burger.active span:nth-child(2) {
   opacity: 0;
   transition: 0.3s;
}

.burger.active span:last-child {
   transform: rotate(-45deg);
   transition: 0.3s;
   top: -7px;
}

.wrapper {
   max-width: 1190px;
   padding-left: 15px;
   padding-right: 15px;
   margin: 0 auto;
}

.first_wrap {
   background-image: url(../img/introduce/bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 835px;
}

.header__wrapper {
   display: flex;
   justify-content: space-between;
}

.header__logo {
   margin-top: 35px;
   cursor: pointer;
}

.header__menu ul {
   display: flex;
   gap: 30px;
   margin-top: 47px;
}
.header__menu ul li a {
   color: #fff;

   font-size: 18px;
   transition: 0.3s;
}

.header__menu ul li a:hover {
   opacity: 0.6;
}

.header__conctacts {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.header__button {
   width: 189px;
   height: 40px;
   border: 1px solid #fff;
   border-radius: 10px;
   background-color: transparent;
   color: #fff;
   padding: 8px 13px 16px 13px;
   font-family: inherit;
   font-size: 18px;
   margin-top: 35px;
   transition: all 0.3s;
   cursor: pointer;
}

.header__button:hover {
   background-color: #fff;
   color: #000;
}

.header__number {
   color: #fff;
   transition: all 0.3s;
}

.header__number:hover {
   opacity: 0.6;
}

.introduce__wrapper {
   display: flex;
   justify-content: space-between;
   margin-top: 155px;
}

.introduce__title {
   font-size: 48px;
   max-width: 883px;
   margin-bottom: 40px;
}

.introduce__subtitle {
   margin-bottom: 50px;
}

.btn {
   padding: 19px 35px 15px;
   font-family: inherit;
   border-radius: 10px;
   background: rgba(255, 191, 26, 0.87);
   font-size: 16px;
   border: none;
   /* margin-top: 50px; */
   transition: all 0.3s;
   cursor: pointer;
}

.btn:hover {
   background: rgb(255, 191, 26);
}

.introduce__icon {
   margin-bottom: 18px;
   transition: all 0.3s;
   cursor: pointer;
}

.introduce__icon:last-child {
   margin-bottom: 0;
}

.introduce__icon:hover {
   scale: 1.1;
}

.about__wrapper {
   display: flex;
   justify-content: space-between;
   padding-top: 88px;
}

.about__stick {
   width: 124px;
   height: 2px;
   background-color: #ffbf1a;
}

.about__caption {
   font-size: 43px;
   margin-bottom: 34px;
}

.about__stick {
   margin-bottom: 34px;
}

.about__description {
   margin-bottom: 47px;
   max-width: 560px;
}

.about__img {
   width: 560px;
   height: 423px;
}

.about__img img {
   width: 100%;
   height: 100%;
   object-fit: contain;
}

.about__stats {
   display: flex;
   gap: 40px;
}

.about__boxes {
   border-radius: 10px;
   border: 1px solid #ffbf1a;
   width: 160px;
   height: 117px;
   text-align: center;

   display: flex;

   justify-content: center;
   align-items: center;
}

.about {
   background-image: url(../img/nature/Rectangle.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background: linear-gradient(
         0deg,
         rgba(0, 0, 0, 0.9) 0%,
         rgba(0, 0, 0, 0.9) 100%
      ),
      linear-gradient(
         281deg,
         rgba(196, 196, 196, 0.28) 2.6%,
         rgba(0, 0, 0, 0.3) 34.68%,
         rgba(0, 0, 0, 0.6) 75.94%
      );

   height: 640px;
}

@media (max-width: 1140px) {
   .first_wrap {
      height: 780px;
   }
   .wrapper {
      max-width: 1010px;
   }

   .introduce__title {
      font-size: 42px;
   }

   .introduce__subtitle {
      font-size: 20px;
   }

   .introduce__socials {
      margin-left: 35px;
   }

   .about {
      height: 950px;
   }

   .about__wrapper {
      flex-direction: column;
      align-items: center;
   }

   .about__stats {
      gap: 80px;
   }

   .about__description {
      max-width: 650px;
      margin-bottom: 60px;
   }

   .about__caption {
      font-size: 35px;
      margin-bottom: 34px;
   }

   .about__wrapper {
      padding-top: 60px;
   }

   .about__img {
      margin-top: 55px;
   }
}

@media (max-width: 1000px) {
   .wrapper {
      max-width: 900px;
   }

   .first_wrap {
      height: 720px;
   }

   .introduce__title {
      font-size: 36px;
   }

   .introduce__subtitle {
      font-size: 18px;
   }
}

@media (max-width: 850px) {
   .burger {
      display: flex;
      top: 40px;
      position: relative;
      z-index: 1001;
   }
   .first_wrap {
      height: 600px;
   }

   .header__logo {
      display: none;
   }

   .header__menu {
      order: 1;
   }

   .header__shell {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: #000000;
      display: flex;
      flex-wrap: wrap;
      z-index: 1000;
      transform: translateX(-100%);
      transition: all 0.3s;
      padding: 80px 15px 24px;
      align-content: flex-start;
      order: 1;
   }

   .header__menu ul li a {
      color: #fff;
   }
   .header__menu ul {
      flex-direction: column;
      gap: 30px;
   }

   .header__shell.active {
      transform: translateX(0%);
      transition: all 0.3s;
   }
   .introduce__title {
      font-size: 28px;
   }

   .introduce__wrapper {
      margin-top: 120px;
   }

   .header__button {
      width: 140px;
      font-size: 12px;
      height: 32px;
   }

   .header__number {
      font-size: 17px;
   }

   .about__caption {
      font-size: 30px;
      margin-bottom: 40px;
   }

   .about {
      height: 800px;
   }

   .about__wrapper {
      padding-top: 40px;
   }

   .about__description {
      font-size: 17px;
      margin-bottom: 40px;
      max-width: 565px;
   }

   .about__stats {
      gap: 50px;
   }

   .about__boxes {
      width: 140px;
      height: 100px;
   }

   .about__img {
      width: 480px;
      height: 380px;
   }
}

@media (max-width: 570px) {
   .burger {
      top: 24px;
   }
   .first_wrap {
      height: 430px;
   }
   .introduce__wrapper {
      margin-top: 70px;
   }

   .header__logo {
      margin-top: 20px;
   }

   .header__button {
      margin-top: 20px;
   }

   .introduce__title {
      font-size: 22px;
      margin-bottom: 25px;
   }

   .introduce__subtitle {
      font-size: 14px;
      margin-bottom: 35px;
   }

   .about__wrapper {
      padding-top: 25px;
   }

   .about__caption {
      font-size: 25px;
      margin-bottom: 25px;
   }

   .about__stick {
      margin-bottom: 25px;
   }

   .about__description {
      font-size: 13px;
      max-width: 460px;
   }

   .about__stats {
      flex-wrap: wrap;
      gap: 15px;
      justify-content: space-between;
   }

   .about__img {
      width: 370px;
      height: 290px;
   }

   .about {
      height: 745px;
   }

   .about__boxes:nth-child(3) {
      flex-grow: 1;
   }
}

@media (max-width: 386px) {
   .first_wrap {
      height: 455px;
   }

   .about__img {
      display: none;
   }

   .about {
      height: 440px;
   }
}

@media (max-width: 342px) {
   .burger {
      top: 28px;
   }
   .first_wrap {
      height: 480px;
   }

   .header__button {
      width: 125px;
      font-size: 11px;
      height: 30px;
   }

   .header__number {
      font-size: 15px;
   }
   .about__img {
      width: 370px;
      height: 290px;
   }

   .about__boxes {
      flex-grow: 1;
      height: 85px;
      font-size: 20px;
   }

   .about {
      height: 540px;
   }

   /* .introduce__socials {
      height: 180px;
   } */

   /* .btn.btn__long {
      width: 100%;
   } */
}
